/* Universal Styles */
html, body {
  font-size: 16px;
  font-family: 'Slabo 27px', serif;
  background-color: white;

}

/* font-family: 'Playfair Display', serif;
font-family: 'Slabo 27px', serif;
*/


.container .row {
  height: 16rem;
}



h2 {
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 3rem;
  font-style: italic;
  text-align: right;
  margin-top: 4rem;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

p {
  font-family: 'Slabo 27px', serif;
}

a {
  color: #fff;
}

nav .container {
  margin-top: 1rem;
}

.jumbotron {
  position: relative;
  top: 1.2rem;
  background-color: white;
  background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('../media/desert4.jpg');
  background-size: cover;
  background-attachment:fixed;
}

.jumbotron h1 {
  font-family: 'Playfair Display', serif;
  color: black;
}
  
.jumbotron .col-md-7 {
  position: relative;
  top: 2.5rem;
}


ul.share-buttons {
  list-style: none;
  padding: 0;
}

ul.share-buttons li {
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

footer {

}