/* Universal Styles */
html {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

/*   navigation section   */

nav .container .row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.socialmedia_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
}

.socialmedia_icons img {
  max-width: 2.20rem;
  height: auto;
}



/*   Recent News Section   */
#recent_section {
  position: relative;
  top: 3rem;
}

#recent_section .row {
  margin-top: 2rem;
  /*background-color: #dbdbdb;*/
  height: 25rem;
}

#recent_section .col-md-6 {
  border: 0.1px solid white;
}

/*   Recent News Section | carousel section   */
#recent_section .carousel-inner h2 {

}

#recent_section .carousel-inner > .item {
  height: 20rem;
  overflow: hidden;
}

#recent_section .jumbotron {
  height: 20rem;
  background-image: url('../media/desert1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

#recent_section .jumbotron .btn-danger {
  margin-top: 1.5rem;

}


/*   Post Section   */
#post_section .row {
  margin-top: 5rem;
  background-color: #dbdbdb;
  height: 25rem;
}

/*   Post Section   */
#socialmedia_section .row {
  background-color: #000000;
  height: 25rem;
}


/*   Socialmedia Section   */
#socialmedia_section h3 {
  color: #ffffff;

}




@media only screen and (max-width: 991px) {
  .socialmedia_icons {
  padding-left: 1rem;
  padding-top: 1rem;
  }
}


/*   Media device section   */
@media only screen and (max-width: 640px){
  .socialmedia_icons img:last-child {
    display: none;
  }

}


@media only screen and (max-width: 480px){
  .socialmedia_icons {
    padding-left: 1rem;
    padding-top: 1rem;
  } 

  .socialmedia_icons img {
    max-width: 1.7rem;
    height: auto;
  }
}
