/* Universal Styles */
html {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

div .navbar {
  padding-top: 2rem;
  background-color: black;
}

nav .col-md-6 {
  margin-bottom: 1rem;
}

.socialmedia_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6.25rem 0 6.25rem;
}



.socialmedia_icons img {
  max-width: 2.30rem;
  height: auto;
}

@media only screen and (max-width: 640px){

  .socialmedia_icons img {
    max-width: 2rem;
    height: auto;
  }

  .socialmedia_icons {
    padding: 0 4.25rem 0 4.25rem;
  } 

  .socialmedia_icons img:last-child {
    display: none;
  }

}


@media only screen and (max-width: 480px){

  .socialmedia_icons {
    padding: 0 3.25rem 0 3.25rem;
  } 

  .socialmedia_icons img {
    max-width: 1.7rem;
    height: auto;
  }
}


/*
<div class="navbar-header">
              <div class="navbar-header navbar-brand navbar-collapse">